body {
    background: #dfddd4;
    color: #100e1f;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  .challenge-content{
    padding: 15px 15px;
    text-align: center;
  
  }
  .challenge-type{
    letter-spacing: 5px;
    color:#178e9e;
    font-size: 10px;
    text-transform: uppercase;
  }
  
  .challenge-title{
    font-size: 16px;
    font-weight: 600;
    color: #181a1b;
  }
  
  .challenge-card-modern{
    width: 246px;
    margin: 15px 0 15px 10px;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(247, 249, 255);
    border-radius: 3px;
    position: relative;
    min-height: 320px;
  }
  
  .event-image{
    height: 140px;
    width: 100%;
    background: #e5e7e8;
    border-radius: 3px 3px 0 0;
  }
  
  .align-center{
    text-align: center;
  }
  
  .gray-split-container {
    width: 100%;
    padding-left: 10px;
    overflow: visible;
    float: left;
    height: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 1024px;
  }
  
  .challenges-2{
    padding-right: 10px;
  }
  .left {
    padding-right: 10px;
  }
  
  .challenge-button{
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 20px;
  font-family: 'Open Sans',sans-serif;
  width: 130px;
  padding: 5px 5px;
  }